*{
	margin:0px;
	padding:0px;
}
.nopadding_margin{
	margin:0px;
	padding:0px;
}
.header{
	width:100%;
	border-bottom: 1px dashed #cecece;
	margin-bottom:5px;
}
.header,
.header > ul,
.header > ul > li  {
	float:left;
} 
.header > ul > li {
	list-style:none;
	margin:5px 5px;
}
.container{
	border-right: 1px solid #CECECE;
	border-left: 1px solid #CECECE;
	padding: 0px;
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.36);
}
.login{	
	margin:5px 5px;
	padding: 6px 50px;
}
.span3{
	border: 1px solid #cecece;
	margin-bottom:20px;
	margin-left: 18px;
}
.img-polaroid{
	width: 100%;
	padding: 20px;
	border-bottom: 1px dashed #cecece;
}
.price{float:right;}
.description{padding:5px;}
.form_button{
	float: right;
	margin-top: -25px;
	position: relative;
	top: 20px;
}
.reg_bt{
	margin:5px 5px;
	padding: 6px 35px;
}
.fba{
	width:50%;
	float:left;
	cursor:pointer;
}
.fb{
	width: 185px;
	position: relative;
	left: -50px;
}
.btn{outline:none;}
.error{color:#f00;}
img{width: 100%;}
.buy_pr{
	background-color: rgba(0, 0, 0, 0.61);
	color: #fff;
	text-align: center;
	padding: 10px 0px;
	display: block;
	max-width: 25%;
	cursor:pointer;
}
.buy_pr > P{margin: 0px !important;}
.pr_pop_p{
	padding: 10px 0px;
	text-align: center;
	color: #5E3131;
	margin: 0px;
	cursor: default;
}
.cart_view{
	width:50px;
	height:50px;
	background-image: url(../img/cart.png);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}
.pr_disamble{display:none;}
.pr_active{display:block;}
.avatar{
	width: 15%;
	float: left;
	margin-right: 20px;
	margin-top: 5px;
	margin-left: 20px;
}
.lg_fr > p{margin:0px;}
.cart_count{
	padding: 2px 10px;
	color: #fff;
	background-color: #f00;
	border-radius: 100%;
	display: block;
	float: left;
	margin-left: 15px;
}
.obsh_pr{
	border: 1px dashed #CECECE;
	margin-top: 10px;
	padding: 20px 0px;
	text-align: center;
}
.sted_tw{
	float:left;
	border-top: 1px dashed #CECECE;
	padding:10px 0px;
}
.sted_tw > a{
	float:right;
	width: 100%;
}
.footer{
	background-color: #00A7E5;
	min-height:200px;
}
.footer > .col-lg-5 {padding:7px 4px 0px 4px;}
.profile_sb li{
	list-style-type: none;
	background-color: #00ADED;
	margin: 2px 0px;
	padding: 2px 0px;
	cursor:pointer;
}
.profile_sb li a{
	color: #fff;
	padding: 0px 0px 0px 10px;
	text-decoration: none;
}